@media (max-width: 1200px) {
    .stories {

        &__title-2 {
            font-size: 26px;
            line-height: 31px;
        }

        &__slide {
            padding: 40px;
        }

        &__content {
            gap: 40px;
        }

        &__title {
            line-height: 120%;
        }

        &__description {
            line-height: 130%;
        }

        &__img-wrap {
            width: 295px;
        }

    }
}

@media (max-width: 1023px) {
    .stories {

        &__title-2 {
            font-size: 24px;
            line-height: 120%;
            padding: 0 0 20px !important
        }

        &__slider {
            padding-bottom: 56px;
        }

        &__slide {
            padding: 30px;
        }

        &__content {
            gap: 30px;
        }

        &__title {
            font-size: 18px;
            line-height: 125%;
        }

        &__description {
            font-size: 14px;
            line-height: 135%;
        }

        &__list {
            font-size: 14px;
        }

        &__btn {
            font-size: 14px;
        }

        &__img-wrap {
            width: 245px;
        }

        &__btns {
            width: 137px;
            height: 36px;
        }
    
        &__nav-btn {
            width: 36px;
            height: 36px;
        }

        &__pagination {
            width: 65px;
            font-size: 14px;
        }
    }
}

@media (max-width: 576px) {
    .stories {

        &__title-2 {
            font-size: 22px;
            line-height: 125%;
        }

        &__slide {
            border-radius: 6px;
            padding: 0px;
            overflow: hidden;
        }

        &__content {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 10px;
        }

        &__info {
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;

            justify-content: flex-start;
            padding: 0 15px 15px;
        }

        &__info-text {
            gap: 10px;
        }
    
        &__title {
            font-size: 16px
        }

        &__list {
            gap: 5px;
            line-height: 150%;
        }

        &__video {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;

            justify-content: stretch;
        }

        &__link {
            width: 100%;
        }

        &__img-wrap {
            height: 380px;
            width: 100%;
        }

        &__cover {
            border-radius: 0;
        }

        &__icon-play {
            width: 57.64px;
            height: 57.64px;
        }
    }
}

@media (max-width: 400px) {
    .stories {
        &__img-wrap {
            height: 305.64px;
        }
    }
}