.table-block {
    font-feature-settings: 'tnum' on, 'lnum' on;

    &__title-2 {
        padding: 0 0 15px !important;
        letter-spacing: 0.01em;
    }

    &__date {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #405460;
        padding: 6px 10px;
        background: #F6F6F7;
        border-radius: 43px;

        &::before {
            content: '';
            width: 16px;
            height: 16px;
            background: url('../images/table-icon-done.svg') no-repeat center / contain ;
        }
    }

    &__wrap {
        padding-top: 22px;
        width: 100%;
    }

    & ul {
        padding: 0;
        margin: 0;

        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        gap: 20px;
        margin-top: -1px;

        font-size: 20px;
        line-height: 140%;
        font-weight: 400;
        color: #102938;

        border-top: 1px solid #CFD4D7;
        border-bottom: 1px solid #CFD4D7;
    }

    & li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 13.5px 20px;
    }

    & li:first-child {
        justify-content: flex-start;
    
    }

    & li:last-child {
        justify-content: flex-end;
        text-align: right;
        font-weight: 700;
    } 

    &__top {
        font-size: 16px !important;
        line-height: 150% !important;
        font-weight: 400 !important;
        color: #6F7F87 !important;
        text-transform: none !important;
        border-top: none !important;

        & li:last-child {
            font-weight: 400 !important;
        }
    }

    &__item {
        gap: 0 !important;
    }
    
    &__item,
    &__body {
        display: flex !important;
        flex-direction: column;
    }

    &__head,
    &__body {
        padding: 0 !important;  
    }

    &__head-content,
    &__body-content {
        width: 100%;
        border: none !important;
    }

    &__head {
        cursor: pointer;

        &.open {
           background: #F8F8F8 !important;
        }
        
        &.open .table-block__head-content li:first-child {
            &::after {
                transform: rotate(-180deg);
            }
        }

        &:hover li:first-child {
            color: #009CD9;
        }
    }

    &__head-content {
        & li:first-child {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            transition: color 0.3s ease;

            &::after {
                content: '';
                width: 12px;
                height: 7px;
                background: url('../images/table-icon-arrow.svg');
                transition: transform 0.3s ease;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__body-content {
        overflow: hidden;
        max-height: 0; 
        transition: max-height 0.3s;

        &.open {
            background: #F8F8F8;
        }

        & li {
            font-size: 16px;
            line-height: 150%;
            font-weight: 400;
            padding-top: 8.5px;
        }

        & li:first-child {
            text-align: left !important;
        }

        & li:last-child {
            font-weight: 400 !important;
        }
    }

    &__info {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #102938;

        background: #F6F6F7;
        border-radius: 8px;
        padding: 15px 10px;
        margin-top: 20px;

        &::before {
            content: '';
            width: 16px;
            height: 16px;
            background: url('../images/table-icon-info.svg') no-repeat;
            margin-top: 4px;
            padding-right: 10px;
        }
    }
}

@import "table-block-media";