.area-videos {
    position: relative;
    overflow: hidden;
    padding: 100px 0 70px 0
}

.area-videos .h-2 {
    padding-left: 20px;
    margin-bottom: 2px
}

.area-videos .sbmts-bl .btn {
    min-width: 240px
}

.video-main {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 580px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
    background: #000000;
    border-radius: 6px
}
.video-main_min{
    height: 440px;
}
.video-main img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.video-main .sbm-play {
    position: relative;
    z-index: 1;
    display: flex;
    color: #fff;
    align-items: center
}

.video-main .btn-play {
    margin-right: 23px
}

.video-main .h-2 {
    max-width: 340px;
    color: #fff;
    padding: 0 0 10px 0
}

.video-main .h-2:last-child {
    padding-bottom: 0
}

.video-main .time {
    color: rgba(255, 255, 255, .8)
}

.video-main .time::before {
    background-image: url(../images/icon-time-w.svg?v=1)
}

.video-main .time span {
    color: rgba(255, 255, 255, .4)
}

.sw-video {
    padding: 0 0 30px 0
}
.sw-video_hidden{
    display: none;
}
.video-bl {
    padding: 0 0 19px 0
}

.video-bl .img {
    display: block;
    position: relative;
    overflow: hidden;
    height: 170px;
    background: #fcfcfc;
    border-radius: 6px
}

.video-bl .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.video-bl .txt {
    padding: 13px 20px 0 20px
}
.video-bl .txt_big{
    padding: 13px 0px 0px 0px;
}
.video-bl .h-3 {
    line-height: 1.2;
    padding: 0 0 12px 0
}

.video-bl .btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 60px;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    transition: margin .2s ease 0s
}

.video-bl .btn-play::before {
    width: 40px;
    height: 28px;
    margin: -14px 0 0 -18px;
    background-size: auto 30px
}
.sw-video .swiper-slide:first-child{
    display: none;
}

@media screen and (min-width: 720px) {
    .sw-video {
        margin: 0
    }

    .sw-video .sw-btns-bl {
        display: none
    }

    .sw-video .swiper {
        margin: 0 -10px
    }

    .sw-video .swiper-wrapper {
        height: auto;
        flex-wrap: wrap;
        transform: translate3d(0, 0, 0) !important;
        transition: none
    }

    .sw-video .swiper-slide {
        width: 50% !important;
        height: auto;
        padding: 0 10px;
        box-sizing: border-box
    }
}

@media screen and (min-width: 900px) {
    .sw-video .swiper {
        margin: 0 -15px
    }

    .sw-video .swiper-slide {
        width: 33.333% !important;
        padding: 0 15px
    }

    .sw-video .swiper-slide:nth-child(3) {
        display: block
    }
}

@media screen and (min-width: 1300px) {
    .sw-video .swiper-slide {
        width: 25% !important
    }

    .sw-video .swiper-slide:nth-child(4) {
        display: block
    }
}

@media screen and (max-width: 1300px) {
    .area-videos {
        padding: 80px 0 50px 0
    }

    .video-main {
        height: 440px;
        margin-bottom: 20px
    }

    .sw-video .swiper {
        margin: 0 -10px
    }

    .sw-video .swiper-slide {
        padding: 0 10px
    }
    .video-main_min{
        height: 400px;
    }
}

@media screen and (max-width: 900px) {
    .area-videos {
        padding: 50px 0 20px 0
    }

    .video-main {
        height: 321px;
        margin-bottom: 30px
    }

    .video-main .h-2 {
        max-width: 240px;
        font-size: 20px;
        line-height: 24px
    }

    .video-main .btn-play {
        margin-right: 16px
    }

    .video-main .btn-play {
        min-width: 90px;
        width: 90px;
        height: 90px
    }

    .video-main .btn-play::before {
        width: 46px;
        height: 46px;
        margin: -22px 0 0 -20px;
        background-size: auto 46px
    }

    .sw-video {
        padding: 0 0 9px 0
    }
}

@media screen and (max-width: 720px) {
    .video-main {
        display: none
    }

    .area-videos {
        padding-top: 40px
    }

    .area-videos .sw-btns-bl {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .area-videos .swiper-button {
        min-width: 58px;
        width: 58px;
        height: 58px
    }

    .area-videos .swiper-button::before {
        background-size: auto 16px
    }

    .video-bl .h-3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px
    }
    .video-bl .h-3_big{
        font-size: 20px;
        line-height: 24px;
    }

    .sw-video .swiper-slide:first-child{
        display: block;
    }
    .sw-video_hidden{
        display: block;
    }
}