.load__preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .8);
    z-index: 1000000;
    display: none
}

.load__preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear
}

.load__preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #009cd9;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 1s infinite ease-in-out
}

.load__preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -.5s
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes preloader-bounce {
    0%, 100% {
        transform: scale(0)
    }
    50% {
        transform: scale(1)
    }
}

.map__item {
    display: flex;
    margin: 20px 0
}

.map__info {
    flex: 1 1 0;
    text-align: left
}

.map__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #102938;
    margin: 0 0 5px 0;
    padding: 0 !important
}

.map__text svg {
    margin-right: 5px
}

.map__text {
    font-size: 14px;
    line-height: 19px;
    color: #102938;
    opacity: .8;
    margin: 0;
    padding: 0 !important;
    display: flex;
    align-items: center
}

.map__image {
    width: 65px;
    height: 65px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px
}

.map__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

.map__btn {
    width: 100%;
    min-height: 40px;
    height: 40px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px
}

.ymaps-2-1-79-balloon__layout {
    background: #fff;
    box-shadow: 4px 4px 28px rgba(0, 60, 92, .08);
    border-radius: 6px;
    border: 0
}

.ymaps-2-1-79-balloon {
    box-shadow: none !important
}

.ymaps-2-1-79-balloon__content {
    margin: 20px !important;
    padding: 0 !important
}

.ymaps-2-1-79-balloon__tail {
    box-shadow: none !important
}

.ymaps-2-1-79-b-cluster-tabs__menu-item-text {
    color: #333 !important
}

.pagination-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px
}

.pagination-block__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-flow: row wrap;
    margin: 0 !important
}

.pagination-block__list li a, .pagination-block__list li span {
    width: 50px;
    height: 50px;
    font-weight: 800;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: .05em;
    color: #102938;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px
}

.pagination-block__list li span {
    background: #009cd9;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px
}

.pagination-block_arrow a:hover {
    background: #009cd9;
    color: #fff
}

.pagination-block_arrow a:hover path {
    fill: #ffffff
}

.like {
    display: flex;
    align-items: center;
    background: #e8f5fc;
    border-radius: 40px;
    padding: 8px 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #009cd9;
    gap: 11px;
    cursor: pointer;
    /*align-self: flex-start*/
}

.like_active {
    background: #009cd9;
    color: #fff
}

.tags-panel {
    margin-bottom: 30px;
}

.tags-menu {
    position: fixed;
    top: -1px;
    left: 0;
    z-index: 9999;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform .2s ease-in;
}

.tags-menu--open {
    transform: translateX(0);
    transition: transform .2s ease-out;
}

.tags-menu__items {
    height: calc(100% - 60px);
    overflow-y: auto;
}

.tags-menu .tags-panel__tag {
    display: block;
    font-size: 14px;
    line-height: 17px;
    padding: 13px 10px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: 1px solid rgba(16, 41, 56, 0.2);
    border-radius: 0;
}

.tags-menu__close {
    width: 100%;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.05em;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 4px;
    min-height: 40px;
}

.tags-menu__footer {
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -10px 20px rgba(0, 60, 92, 0.08);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.tags-open {
    overflow: hidden;
}

.catalog-wrapper {
    position: relative;
}

.catalog-wrapper .cat-links {
    position: absolute;
    right: 0;
}

.quiz_parent--wrap .area-quiz {
    margin: 0;
}

.quiz_parent--wrap {
    padding: 0;
}

.quiz_parent--wrap .quiz-inf {
    padding-bottom: 0;
}

.soc-nav__phone {
    font-size: 0;
    width: 16px;
    height: 16px;
}

/* new */
.area-category .categories-txt {
    padding: 0;
}

.categories-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
}

.categories-block__item {

}

.categories-item {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.categories-item_full {
    grid-column: 1/-1;
}

.categories-item:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%)
}

.categories-item__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 130%;
    color: #ffffff;
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-decoration: none;
}

.categories-item__title_desktop {

}

.categories-item__title_mobile {
    display: none;
}

.horizontal-block {
    padding: 40px 0px;
}

.horizontal-block__title {
    padding-bottom: 30px;
}

.horizontal-block__item {
    margin-bottom: 30px;
}

.horizontal-block__item:last-child {
    margin-bottom: 0;
}

.horizontal-item {
    display: flex;
    width: 100%;
    background-color: #fff;
    box-shadow: 4px 4px 28px rgba(0, 60, 92, 0.08);
    border-radius: 6px;
    overflow: hidden;
    flex-direction: column-reverse;
}

.horizontal-item__slider {
    width: 100%
}

.horizontal-item__wrapper{
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
}

.horizontal-item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 10px 10px 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.horizontal-item__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
    color: #102938;
    margin: 0;
    padding-top: 10px;
}

.horizontal-item__title a {
    color: #102938;
    text-decoration: none;
}

.horizontal-item__description {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #405460;
    padding: 0 !important;
}

.horizontal-item__row {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin-top: 10px;
}

.horizontal-item__size {
    width: calc(100% - 80px);
    margin: 0px;
    min-height: 34px;
    padding: 0 40px;
}

.horizontal-item__size input {
    height: 34px;
}

.horizontal-item__size .size-meter_btn {
    width: 34px;
    height: 34px;
}

.horizontal-item__price {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #102938;
}

.horizontal-item__btn {
    width: 100%;
    margin-top: 10px;
}

.horizontal-slider__image {
    object-fit: cover;
    border-radius: 6px;
}

.horizontal-slider .swiper-slide, .horizontal-slider__image{
    width: 272px;
    height: 272px;
}

.horizontal-slider__arrow {
    background: #FFFFFF;
    border-radius: 222px;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    display: none;
}


.horizontal-slider__prev {
    left: 10px;
    padding-right: 3px;
}

.horizontal-slider__next {
    right: 10px;
    padding-left: 3px;
}

.horizontal-slider__dots {
    position: absolute;
    bottom: 11px;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.horizontal-slider__dots .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: #fff;
    margin: 0px 3px;
    opacity: 1;
}

.horizontal-slider__dots .swiper-pagination-bullet-active {
    background-color: #1EBAF7;
}

.horizontal-slider_big-image .swiper-slide, .horizontal-slider_big-image  .horizontal-slider__image{
    width: 100% !important;
}

.modal-block {
    background-color: rgba(3, 25, 46, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100000;
}

.modal-block_active {
    display: flex;
}

.modal-block__content {
    background: #FFFFFF;
    border-radius: 6px;
    width: 392px;
    max-width: 98vw;
    position: relative;
    padding: 15px;
    text-align: left;
    box-sizing: border-box;
    max-height: 95vh;
    overflow-y: auto;
}

.modal-block__content_min {
    width: 350px;
}

.modal-block__close {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}

.modal-block__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #102938;
    margin: 0;
}

.modal-block__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #102938;
    padding: 0 !important;
}

.modal-block__margin {
    margin-top: 20px;
}

.modal-block__row {
    display: flex;
    gap: 30px;
}

.modal-block__row_min {
    gap: 10px;
    margin-top: 10px;
}

.modal-block__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #102938;
}

input[type=email].modal-block__field,
input[type=password].modal-block__field,
input[type=tel].modal-block__field,
input[type=text].modal-block__field,
textarea.modal-block__field {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #102938;
    border: none;
    border-bottom: 2px solid #95A2A9;
    padding: 10px 0px;
}

textarea.modal-block__field {
    height: 40px;
}

.modal-block__field::placeholder {
    color: #95A2A9;
}

.modal-block__label_checkbox {
    padding-left: 30px;
    position: relative;
    font-size: 14px;
}

.modal-block__label_checkbox:before, .modal-block__label_checkbox:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
}

.modal-block__label_checkbox:before {
    width: 22px;
    height: 22px;
    border: 2px solid #E4E9EC;
}

.modal-block__label_checkbox:after {
    width: 12px;
    height: 12px;
    background: #009CD9;
    opacity: 0;
    left: 5px;
}

.modal-block__checkbox:checked + .modal-block__label_checkbox:after {
    opacity: 1;
}

.modal-block__button {
    width: 100%;
    margin-top: 20px;
}

.modal-block__agree {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #95A2A9;
    padding: 0 !important;
    margin-top: 10px;
}

.modal-block__agree a {
    text-decoration: underline;
    color: #95A2A9;
}

.modal-block__thanks {
    text-align: center;
    padding: 40px 36px 20px 36px;
}

.txt-flex__right, .area-why {
    font-size: 14px;
    line-height: 145%;
    color: #405460;
    opacity: 0.92;
}

.txt-flex_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #102938;
    margin: 0px 0px 20px 0px;
}

.txt-flex__sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #102938;
    margin: 0px 0px 20px 0px;
    padding: 0 !important;
}

.accompanying-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px
}

.accompanying-services__item {
    background: #FFFFFF;
    box-shadow: 4px 4px 28px rgba(0, 60, 92, 0.08);
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
    text-decoration: none;
    min-height: 130px;
    padding: 15px 35px 15px 15px;
}

.accompanying-services__item:before {
    content: '';
    position: absolute;
    top: 23px;
    right: 20px;
    width: 7px;
    height: 14px;
    background-image: url('../images/icon_arrow.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accompanying-services__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #405460;
    word-break: break-word;
}

.accompanying-services__icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.quiz-slider {
    padding: 0;
}

.quiz-bl {
    padding: 0;
}

.new-quiz__bottom {
    background: rgba(0, 156, 217, 0.05);
    border-top: 1px solid rgba(0, 156, 217, 0.1);
    padding: 20px 15px;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.new-quiz__discount {
    display: flex;
    order: 2;
    width: 100%;
    gap: 5px;
}

.new-quiz__discount-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #009CD9;
    display: flex;
    align-items: center;
    gap: 7px
}

.new-quiz__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #009CD9;
}

.new-quiz__text {
    order: 2;
    flex: 1 1 0;
    font-size: 12px;
    line-height: 140%;
    color: #405460;
    padding: 0 !important;
}

.new-quiz__buttons {
    display: flex;
    gap: 15px;
    order: 1;
    padding: 0 !important;
    width: 100%;
}

.new-quiz__button {
    background: rgba(0, 156, 217, 0.1);
    border-radius: 4px;
    font-weight: 800;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #009CD9 !important;
    gap: 7px;
    padding: 15px 20px;
    margin: 0 !important;
    flex-grow: 1;
}

.new-quiz__button.next {
    background: #009CD9;
    color: #ffffff !important
}

.quiz-slider .swiper-slide.result, .quiz-slider .swiper-slide:last-child, .quiz-slider.result .swiper-slide:last-child {
    padding: 0 !important;
}

.quiz-slider .swiper-slide.result .quiz-bl, .quiz-slider .swiper-slide:last-child .quiz-bl, .quiz-slider.result .swiper-slide:last-child .quiz-bl {
    margin: 0 !important;
}

.new-quiz__last-info {
    background: rgba(0, 156, 217, 0.05);
    border-bottom: 1px solid rgba(0, 156, 217, 0.1);
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
}

.new-quiz__last-info-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #009CD9;
    padding: 0 !important;
}

.new-quiz__last-info-price {
    display: flex;
    align-items: center;
    gap: 20px
}

.new-quiz__last-info-price span {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #009CD9;
}

.new-quiz__last-info-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #405460;
    padding: 0 !important;
}

.quiz-farea {
    padding: 20px 15px;
    min-height: auto;
}

.new-quiz__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #102938;
    padding: 0;
    margin: 0;
}

.new-quiz__title_last {
    font-size: 18px;
    line-height: 23px;
}

.new-quiz__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #405460;
    padding: 0 !important;
    margin-top: 10px;
}

.quiz-farea .uni-quiz-answers {
    grid-template-columns: 1fr;
}

.quiz-farea .uni-quiz-answer {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
}

.uni-quiz-answer-input.next_slide + .uni-quiz-answer:before{
    display: none !important;
}
.quiz-farea_last {
    padding: 20px 15px;
    flex: 1 1 0;
    text-align: left !important;
}

.quiz-farea input[type=email],
.quiz-farea input[type=password],
.quiz-farea input[type=tel],
.quiz-farea input[type=text],
.quiz-farea textarea {
    border-bottom: 1px solid #95A2A9;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #95A2A9;
}

.quiz-form {
    margin-top: 15px;
    padding: 0;
    max-width: none;
}

.quiz-form .inp-bl {
    margin-bottom: 20px;
}

.rd-row__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #405460;
    margin-bottom: 10px;
}

.quiz-form .rd-row {
    justify-content: flex-start;
}

.quiz-form .rd-row .lbl {
    color: #95A2A9;
}

.quiz-form .btn {
    width: 100%;
    height: 55px;
    border-radius: 4px;
    margin: 0;
}

.new-quiz__btn-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-quiz__agree {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #95A2A9;
    padding: 0 !important;
}

.new-quiz__agree a {
    color: #95A2A9;
}

.quiz-slider .swiper-container-autoheight, .quiz-slider .swiper-container-autoheight .swiper-slide {
    height: auto;
}

.quiz-slider .sw-quiz, .quiz-slider .sw-quiz .swiper-slide, .quiz-slider {
    min-height: auto !important;
}

.cat-info-row .quiz-bl {
    padding: 0;
}

.cat-info-row.tablet .quiz_parent {
    display: none;
}

.main-quiz__wrap {
    background: #FFFFFF;
    box-shadow: 4px 4px 28px rgba(0, 60, 92, 0.08);
    padding: 20px 15px;
    border-radius: 6px;
}

.main-quiz__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #102938;
    padding: 0;
    margin: 0;
}

.main-quiz__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #405460;
    margin: 10px 0px 0px 0px;
    padding: 0 !important;
}

.quiz-box {
    background: transparent;
    box-shadow: none;
    padding: 0 !important;
    border-radius: 0;
}

.quiz-box .q-img {
    height: 100px;
    border-radius: 4px;
    margin: 0px 0px 10px 0px;
}

.quiz-box input[type=radio] + .lbl:before {
    display: none;
}

.quiz-box input[type=checkbox] + .lbl, .quiz-box input[type=radio] + .lbl {
    padding: 0;
}

.quiz-box label {
    font-weight: 500;
    font-size: 12px;
    line-height: 125%;
    color: #102938;
}

.main-quiz__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}
/*.main-quiz{*/
/*    padding: 40px 0px;*/
/*}*/
.main-quiz .quiz-show-bl.open{
    padding: 0 !important;
}

.area-why .col.why-col-img{
    width: 139px;
    height: 139px;
    max-width: none;
    min-width: auto;
    padding: 0 !important;
    margin: 0px 36px 0px 36px;
}
.area-why .col.why-col-img img{
    width: 100%;
    height: 100%;
}

.area-why .col.why-col-info{
    flex: 1 1 0
}

.why-mobile{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    position: relative;
}

.why-mobile__title{
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    margin: auto;
    max-width: calc(100% - 149px);
    color: #102938;
    font-weight:bold;
}

.why-mobile__title span{
    display: inline;
    background: #ffffff;
    border-radius: 5px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0px 5px 0px 0px;
}
.no-bg .why-mobile__title span{
    background: #f9f9fa;
}

.why-mobile__image{
    width: 139px;
    height: 139px;
    border-radius: 6px;
    overflow: hidden;
}
.why-mobile__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.why-desktop{
    display: none;
}
.area-why .why-fl-row{
    display: block;
}

.coupon-block {
    padding: 40px 0px;
}

.coupon-block__wrapper {
    font-family: 'Fira Sans', Arial;
    width: 100%;
    border: none;
    background: linear-gradient(93.36deg, #FFC4B1 15.86%, #FF9FD3 42.41%, #A19AED 84.18%), #FFFFFF;
    box-shadow: 4px 4px 28px rgba(0, 60, 92, 0.08);
    border-radius: 6px;
    background-size: cover;
    padding: 230px 15px 20px 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.coupon-block__wrapper_light{
    background: #ffffff;
}

.coupon-block__wrapper:before{
    content: '';
    position: absolute;
    top: -80%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-size: 656px 365px;
    background-image: url('/catalog/view/theme/sewera/images/coupon-block.png');
    background-position: center;
    background-repeat: no-repeat;
}

.coupon-block__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #102938;
    margin: 0;
    padding: 0 !important;
    position: relative;
}

.coupon-block__stars{
    position: absolute;
    bottom: 80px;
}

.coupon-block__description {
    font-size: 16px;
    line-height: 21px;
    color: #405460;
    margin: 0;
    padding: 0 !important;
    max-width: 400px;
    position: relative;
}

.coupon-block__description p{
    padding: 0 !important;
}

.coupon-button {
    position: fixed;
    z-index: 100;
    bottom: 0px;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 193px;
    height: 100px;
    padding: 0;
    left:-200px;
    opacity:0;

    transition: all .5s ease-in-out;
}

.coupon-button.visible {
    left:20px;
    opacity:1;
}

.couponator-banner {
    display:flex;
    justify-content: center;
    align-items: center;

    position:fixed;
    width:100%;
    height:60px;
    background-image: url('/catalog/view/theme/sewera/images/couponator_banner_bg.svg'), linear-gradient(71.1deg, #FFB096 2.82%, #FF6BBB 21.85%, #AC6BED 87.25%);
    z-index:1000;
    border:0;
    bottom:-60px;
    opacity:0;
    color:white;
    transition: all .2s ease-in-out;
}
.couponator-banner.visible {
    bottom:0;
    opacity:1;
}
.couponator-banner.closed {display:none !important}
.couponator-banner .cb-btn {
    background:#102938;
    border-radius:33px;
    padding: 4px 20px;
    margin: 0 40px;
    flex:0 0 1;
    cursor:pointer;
    transition: all .2s;
}
.couponator-banner.black .cb-btn, .couponator-banner.black .cb-btn:hover {
    color:white;
    background: linear-gradient(57.79deg, #FFB096 8.65%, #FF85C7 52.79%, #AC6BED 122.24%);
    position:relative;
    overflow:hidden;
}
.couponator-banner.black .cb-btn:hover:after {
    content:"";
    display:block;
    position: absolute;
    width: 45px;
    height: 60px;
    left: -100px;
    top: 0;
    transform: skewX(-45deg);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 0.5s linear;
}

@keyframes flareAnimation {
    0% {
        left: -100px;
    }
    100% {
        left: 150%;
    }
}

.couponator-banner .cb-btn:hover {
    color:#102938;
    background: white;
}
.couponator-banner .cb-close {
    display:inline-block;
    width:18px;
    height:18px;
    background-image: url('/catalog/view/theme/sewera/images/cb-close.svg?1');
    cursor:pointer;
    transition: all .2s ease-in-out;
    opacity:.5;
}
.couponator-banner .cb-close:hover {
    opacity:.8;
}

.couponator-banner.black {
    background-image: url('/catalog/view/theme/sewera/images/couponator_banner_black_bg.svg');
}

@media screen and (max-width: 1024px) {
    .couponator-banner {
        height: 50px;
        font-size: 15px;
    }
    .couponator-banner .cb-btn {
        font-size:12px;
        margin:0 30px;
    }
}

@media screen and (max-width: 768px) {
    .couponator-banner {
        height: 40px;
        font-size: 12px;
    }
    .couponator-banner .cb-btn {
        font-size:9.3px;
        margin:0 25px;
    }
}

.coupon-button__image{
    margin-left: -8px;
}

.coupon-button__signature {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0;
    color: #102938;
    margin-left: -5px;
}
@media screen and (max-width: 720px) {
    .coupon-button{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .horizontal-item__title {
        padding-top:0;
    }
}
@media screen and (min-width: 768px) {
    .categories-block {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    .categories-item {
        height: 210px;
    }

    .categories-item_full {
        grid-column: auto;
    }

    .categories-item__title {
        font-size: 18px;
    }

    .horizontal-block {
        padding: 60px 0px;
    }

    .horizontal-item__wrapper {
        width: 270px;
        margin: 20px;
    }

    .horizontal-item {
        flex-direction: row;
        align-items: flex-start;
    }

    .horizontal-item__title {
        font-size: 18px;
        line-height: 130%;
    }

    .horizontal-item__description {
        margin-top: 10px;

    }

    .horizontal-slider__dots {
        bottom: 15px;
    }

    .horizontal-item__size {
        width: 78px;
    }

    .horizontal-item__info {
        flex: 1 1 0;
        margin: 20px 0px 20px 20px;
        padding: 0;
        height: 240px;
    }

    .horizontal-item__row {
        flex-direction: row;
        align-items: center;
    }

    .horizontal-item__price {
        font-size: 24px;
        line-height: 130%;
    }

    .horizontal-slider .swiper-slide, .horizontal-slider__image{
        width: 240px;
        height: 240px;
    }

    .horizontal-slider__arrow {
        display: flex;
    }

    .horizontal-slider__arrow.swiper-button-disabled{
        display: none;
    }

    .modal-block__content {
        padding: 30px;
    }

    .modal-block__close {
        top: 34px;
        right: 30px;
    }

    .modal-block__margin {
        margin-top: 30px;
    }

    .modal-block__button {
        margin-top: 30px;
    }

    .modal-block__thanks {
        text-align: center;
        padding: 30px 26px 10px 26px;
    }

    .txt-flex_title {
        font-size: 24px;
        line-height: 130%;
    }

    .accompanying-services {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin: 10px 0px 0px 0px;
    }

    .accompanying-services__item {
        min-height: 120px;
    }

    .quiz-farea {
        padding: 20px;
    }

    .new-quiz__title {
        font-size: 24px;
        line-height: 31px;
    }

    .quiz-farea .uni-quiz-answers {
        grid-template-columns: 1fr 1fr;
    }

    .new-quiz__buttons {
        gap: 15px;
        order: 2;
    }

    .new-quiz__bottom {
        column-gap: 35px;
        row-gap: 20px;
        padding: 20px;
    }

    .new-quiz__discount {
        width: auto;
        display: block;
    }

    .new-quiz__price {
        font-size: 31px;
        line-height: 37px;
    }

    .quiz-slider .swiper-slide.result .quiz-bl, .quiz-slider .swiper-slide:last-child .quiz-bl, .quiz-slider.result .swiper-slide:last-child .quiz-bl {
        display: flex;
    }

    .new-quiz__last-info {
        width: 344px;
        gap: 20px;
        padding: 30px 20px;
        border-right: 1px solid rgba(0, 156, 217, 0.1);
        border-bottom: 0;
    }

    .new-quiz__last-info-title {
        font-size: 18px;
        line-height: 23px;
    }

    .quiz-form {
        margin-top: 20px;
    }

    .quiz-form .inp-bl {
        margin-bottom: 33px;
    }

    .new-quiz__btn-row {
        margin-top: 10px;
    }

    .quiz-farea_last {
        padding: 30px 20px;
    }

    /*    */
    .cat-info-row .quiz-farea {
        padding: 20px 15px;
        min-height: auto;
    }

    .cat-info-row .new-quiz__title {
        font-size: 20px;
        line-height: 24px;
    }

    .cat-info-row .quiz-farea .uni-quiz-answers {
        grid-template-columns: 1fr;
    }

    .cat-info-row .new-quiz__buttons {
        order: 1;
    }

    .cat-info-row .new-quiz__bottom {
        gap: 15px;
        padding: 20px 15px;
    }

    .cat-info-row .new-quiz__discount {
        width: 100%;
        display: flex;
    }

    .cat-info-row .new-quiz__price {
        font-size: 14px;
        line-height: 150%;
    }

    .cat-info-row .quiz-slider .swiper-slide.result .quiz-bl,
    .cat-info-row .quiz-slider .swiper-slide:last-child .quiz-bl,
    .cat-info-row .quiz-slider.result .swiper-slide:last-child .quiz-bl {
        display: block;
    }

    .cat-info-row .new-quiz__last-info {
        width: auto;
        gap: 15px;
        padding: 20px 15px;
        border-right: 0;
        border-bottom: 1px solid rgba(0, 156, 217, 0.1);
        padding: 20px 15px;
    }

    .cat-info-row .new-quiz__last-info-title {
        font-size: 16px;
        line-height: 22px;
    }

    .cat-info-row .quiz-form {
        margin-top: 0px;
    }

    .cat-info-row .quiz-form .inp-bl {
        margin-bottom: 20px;
    }

    .cat-info-row .quiz-farea_last {
        padding: 20px 15px;
    }

    .main-quiz__wrap {
        padding: 20px;
    }

    .main-quiz__title {
        font-size: 24px;
        line-height: 31px;
    }

    .quiz-box .q-img {
        height: 160px;
    }

    .quiz-box label {
        font-size: 14px;
    }

    .main-quiz__row {
        gap: 30px;
    }

    /*.main-quiz{*/
    /*    padding: 60px 0px;*/
    /*}*/

    .area-why .col.why-col-img{
        width: 215px;
        height: 215px;
    }

    .area-why .col.why-col-img{
        margin: 0px 20px 0px 0px;
    }
    .area-why .fright .col.why-col-img{
        margin: 0px 0px 0px 20px;
    }
    .why-desktop{
        display: block;
    }
    .why-mobile{
        display: none;
    }
    .area-why .why-fl-row{
        display: flex;
    }

    .coupon-block__wrapper{
        padding: 40px 30px;
    }

    .coupon-block {
        padding: 60px 0px;
    }

    .coupon-block__wrapper:before {
        top: 0;
        right: -90%;
        bottom: -74px;
        background-size: 603px 335px;
    }

    .coupon-block__stars{
        left: 157px;
        top: 5px;
        right: auto;
        width: 127px;
        height: 58px;
    }
}
@media screen and (min-width: 900px) {
    .area-why .col.why-col-img{
        margin: 0px 20px 0px 11px;
    }
    .area-why .fright .col.why-col-img{
        margin: 0px 11px 0px 20px;
    }
}
@media screen and (min-width: 1024px) {
    .categories-block {
        grid-gap: 20px;
    }

    .categories-item__title {
        font-size: 20px;
        bottom: 20px;
        left: 20px;
    }

    .horizontal-block__title {
        padding-bottom: 40px;
    }

    .horizontal-item__wrapper {
        width: 460px;
    }

    .horizontal-item__title {
        font-size: 22px;
        line-height: 120%;
    }

    .horizontal-item__description {
        margin-top: 10px;
        font-size: 16px;
        line-height: 150%;
    }

    .horizontal-item__size {
        width: 95px;
    }

    .horizontal-item__info {
        height: 280px;
    }

    .horizontal-item__btn {
        margin-top: 20px;
    }

    .horizontal-item__row {
        margin-top: 10px;
        gap: 20px
    }

    .horizontal-item__price {
        font-size: 26px;
        line-height: 120%;
    }
    .horizontal-slider__arrow{
        width: 42px;
        height: 42px;
    }

    .horizontal-slider__prev {
        left: 15px;
    }

    .horizontal-slider__next {
        right: 15px;
    }

    .horizontal-slider .swiper-slide, .horizontal-slider__image{
        width: 280px;
        height: 280px;
    }

    .horizontal-slider__dots{
        display: none;
    }

    .txt-flex {
        display: flex;
        gap: 26px
    }

    .txt-flex__left {
        width: 293px;
    }

    .txt-flex__right {
        flex: 1 1 0;
        font-size: 16px;
        line-height: 150%;
        color: #102938;
    }

    .area-why {
        font-size: 16px;
        line-height: 150%;
        color: #102938;
    }

    .txt-flex_title {
        font-size: 26px;
        line-height: 120%;
    }

    .txt-flex__sub-title {
        font-size: 18px;
        margin: 0;
    }

    .accompanying-services {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .accompanying-services__title {
        font-size: 16px;
        line-height: 19px;
    }

    .new-quiz__title {
        font-size: 28px;
        line-height: 34px;
    }

    .new-quiz__bottom {
        gap: 55px
    }

    .new-quiz__buttons {
        width: auto;
        gap: 20px
    }

    .new-quiz__button {
        padding: 15px 35px;
    }

    .new-quiz__last-info {
        width: 300px;
        gap: 25px;
    }

    .new-quiz__last-info-title {
        font-size: 22px;
        line-height: 26px;
    }

    .new-quiz__last-info-text {
        font-size: 16px;
        line-height: 24px;
    }

    .new-quiz__title_last {
        font-size: 22px;
        line-height: 26px;
    }

    .quiz-form {
        margin-top: 30px;
    }

    .new-quiz__btn-row {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .quiz-form .btn {
        width: 290px;
    }

    /*    */
    .cat-info-row .new-quiz__title {
        font-size: 20px;
        line-height: 24px;
    }

    .cat-info-row .new-quiz__bottom {
        gap: 15px;
    }

    .cat-info-row .new-quiz__buttons {
        width: 100%;
        gap: 15px;
    }

    .cat-info-row .new-quiz__button {
        padding: 15px 30px;
    }

    .cat-info-row .new-quiz__last-info {
        width: auto;
        gap: 15px;
    }

    .cat-info-row .new-quiz__last-info-title {
        font-size: 16px;
        line-height: 22px;
    }

    .cat-info-row .new-quiz__last-info-text {
        font-size: 14px;
        line-height: 20px;
    }

    .cat-info-row .new-quiz__title_last {
        font-size: 20px;
        line-height: 24px;
    }

    .cat-info-row .quiz-form {
        margin-top: 0px;
    }

    .cat-info-row .new-quiz__btn-row {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .cat-info-row .quiz-form .btn {
        width: 100%;
    }

    .main-quiz__title {
        font-size: 26px;
        line-height: 31px;
    }

    .main-quiz__row {
        grid-template-columns: repeat(auto-fit, minmax(17%, 1fr));
    }
    .main-quiz__row_type2{
        grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
    }

    .quiz-box .q-img {
        height: 130px;
    }

    .quiz-box label {
        font-size: 16px;
    }

    .area-why .col.why-col-img{
        width: 300px;
        height: 300px;
    }
    .area-why .col.why-col-img{
        margin: 0px 29px 0px 11px;
    }
    .area-why .fright .col.why-col-img{
        margin: 0px 11px 0px 29px;
    }

    .coupon-block__wrapper{
        padding: 50px 40px;
        gap: 15px;
    }

    .coupon-block__wrapper:before {
        top: 0;
        right: -74%;
        bottom: -74px;
        background-size: 834px 464px;
    }

    .coupon-block__title {
        font-size: 36px;
        line-height: 43px;
    }

    .coupon-block__description {
        font-size: 18px;
        line-height: 22px;
    }

    .coupon-block__stars{
        left: 250px;
        top: 15px;
        width: 153px;
        height: 79px;
    }

}
@media screen and (min-width: 1200px) {
    .categories-block {
        grid-gap: 30px;
    }

    .categories-item__title {
        font-size: 22px;
    }

    .horizontal-block {
        padding: 80px 0px;
    }

    .horizontal-item__wrapper {
        width: 660px;
    }

    .horizontal-item__size {
        width: 108px;
    }


    .horizontal-item__price {
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.01em;
    }

    .txt-flex_title {
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.01em;
    }

    .txt-flex__sub-title {
        font-size: 20px;
    }

    .txt-flex {
        gap: 138px
    }

    .accompanying-services__title {
        font-size: 18px;
        line-height: 22px;
    }

    .accompanying-services {
        gap: 30px
    }

    .accompanying-services__item {
        padding: 20px 30px 20px 20px;
    }

    .quiz-farea {
        padding: 30px;
    }

    .new-quiz__bottom {
        padding: 28px 30px;
        gap: 80px;
    }

    .new-quiz__last-info {
        padding: 40px 30px;
        width: 400px;
        gap: 40px
    }

    .quiz-farea_last {
        padding: 40px 100px;
    }


    .cat-info-row .quiz-farea {
        padding: 20px 15px;
    }

    .cat-info-row .new-quiz__bottom {
        padding: 20px 15px;
        gap: 15px;
    }

    .cat-info-row .new-quiz__last-info {
        padding: 20px 15px;
        width: auto;
        gap: 15px;
    }

    .cat-info-row .quiz-farea_last {
        padding: 20px 15px;
    }

    .main-quiz__wrap {
        padding: 30px;
    }

    .main-quiz__title {
        font-size: 28px;
        line-height: 34px;
    }

    .quiz-box .q-img {
        height: 180px;
    }

    .quiz-box label {
        font-size: 16px;
    }
    /*.main-quiz{*/
    /*    padding: 80px 0px;*/
    /*}*/

    .area-why .col.why-col-img{
        width: 400px;
        height: 400px;

    }

    .coupon-block {
        padding: 80px 0px;
    }

    .coupon-block__wrapper:before{
        top: 0;
        right: -48%;
        bottom: -74px;
        background-size: 927px 516px;
    }

}
@media screen and (min-width: 1300px) {
    .horizontal-item__wrapper {
        width: 780px;
    }

    .area-why .col.why-col-img{
        margin: 0px 29px 0px 36px;
    }
    .area-why .fright .col.why-col-img{
        margin: 0px 36px 0px 29px;
    }
}

.grecaptcha-badge {display:none !important}