.insta-gallery * {
    box-sizing: border-box;
    text-align: left;
}

.insta-gallery {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    padding: 0px 80px;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 30px;
}

.insta-gallery__container {
    max-width: 1265px;
    margin: 0 auto;
}

.insta-gallery__title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #102938;
    margin-top: 0;
    margin-bottom: calc(60px / 2);
}

.insta-gallery__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.insta-gallery__left-arrow {
    align-self: start;
    margin-left: 15px;
}

.insta-gallery__right-arrow {
    align-self: end;
    margin-right: 15px;
}

.insta-gallery__left-arrow, .insta-gallery__right-arrow {
    position: absolute;
    width: 42px;
    height: 42px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    fill: white;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    user-select: none;
    transition: 0.15s ease opacity;
    display: flex;
}

.insta-gallery__left-arrow svg, .insta-gallery__right-arrow svg {
    width: 100%;
    height: 100%;
}

.insta-gallery__left-arrow.swiper-button-disabled, .insta-gallery__right-arrow.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
    transition: 0.15s ease opacity;
}

.insta-gallery__swiper {
    max-width: 100%;
    width: 100%;
    border-radius: 8px;
}

.insta-gallery__swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    background: #F8F8F8;
    border-radius: 8px;
    padding: 60px;
}

.insta-gallery__preview {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

.insta-gallery__image-text {
    margin: 0;
    margin-left: -100%;
    width: 100%;
    height: 100%;
    padding: 15px !important;
    line-height: 26px;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: end;
    color: white;
    background: linear-gradient(#00000000, rgba(0, 0, 0, 0.2));
    pointer-events: none;
    user-select: none;

}

.insta-gallery__link {
    display: none;
}

.insta-gallery__play-icon {
    position: absolute;
    justify-self: center;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insta-video__button {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    display: block;
    cursor: inherit;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translateZ(100px);
}

@media screen and (max-width: 1200px) {
    .insta-gallery {
        padding: 0 40px;
    }

    .insta-gallery__title {
        font-size: 26px;
        margin-bottom: calc(32px / 2);
        line-height: 120%;
    }

    .insta-gallery__swiper .swiper-slide {
        width: 182px;
        height: 332px;
    }

    .insta-gallery__container {
        max-width: 944px;
    }

    .insta-gallery__left-arrow {
        margin-right: 11px;
        width: 31px;
        height: 31px;
    }

    .insta-gallery__right-arrow {
        margin-left: 11px;
        width: 31px;
        height: 31px;
    }

    .insta-gallery__image-text {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 1023px) {

    .insta-gallery {
        padding: 0 40px;
    }

    .insta-gallery__title {
        font-size: 24px;
        margin-bottom: calc(32px / 2);
        line-height: 130%;
    }

    .insta-gallery__swiper .swiper-slide {
    }

    .insta-gallery__container {
    }

    .insta-gallery__swiper {
        overflow: visible !important;
    }

    .insta-gallery__left-arrow {
        display: none;
    }

    .insta-gallery__right-arrow {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .insta-gallery {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 512px) {

    .insta-gallery {
        padding: 0 14px;
    }

    .insta-gallery__title {
        margin-bottom: calc(30px / 2);
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .insta-gallery__swiper .swiper-slide {
        width: 215px;
        height: 391px;
    }
}


/* WINDOW */

.insta-gallery-full {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1500;
    background: #102938;
    display: flex;
    justify-content: center;
    user-select: none;
}

.insta-gallery-full .swiper-wrapper{
    pointer-events: none;
}

.insta-gallery-full .swiper-slide{
    pointer-events: fill;
}

.insta-gallery-full__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 59px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    cursor: pointer;
    user-select: none;
    z-index: 5;
}

.insta-gallery-full__container {
    display: flex;
    margin-top: 23px;
    gap: 4px;
}

.insta-gallery-full__left-arrow {
}

.insta-gallery-full__right-arrow {
}

.insta-gallery-full__left-arrow, .insta-gallery-full__right-arrow {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 32px;
}

.insta-gallery-full__slider {
}

.insta-gallery-full__navigation {
    display: flex;
    margin-bottom: 20px;
    gap: 3px;
}

.insta-gallery-full__navigation-line {
    width: 100%;
    height: 2px;
    overflow: hidden;
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 999px;
}

.insta-gallery-full__navigation-line-progress {
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    /*transition: 0.1s ease width;*/
}

.insta-gallery-full__swiper .swiper-slide {
    border-radius: 8px;
    overflow: hidden;
    background-color: #1e1e1e;
    transform: scale(1);
}

.insta-gallery-full__volume svg {
    fill: white;
}

.insta-video {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    justify-content: center;
    position: relative;
}

.insta-video:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 88.42%, rgba(0, 0, 0, 0.4) 100%);
    left: 0;
    top: 0;
    pointer-events: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translateZ(100px);
}

.insta-video__player {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
}

.insta-video__error {
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    text-align: center;
    color: white;
    pointer-events: none;
    user-select: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translateZ(100px);
}

.insta-video__preloader {
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 80, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    text-align: center;
    color: white;
    pointer-events: none;
    user-select: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translateZ(100px);
}

.insta-video__preloader:before {
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid white;
    border-left: 0;
    border-top: 0;
    border-radius: 999px;
    animation: preloader 0.5s infinite linear;
}

@keyframes preloader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.insta-video__link {
    position: fixed;
    background-color: white;
    padding: 16px 32px;
    bottom: 70px;
    border-radius: 999px;
    text-decoration: none;
    color: #1e1e1e;
}

.insta-gallery-full__sound {
    position: absolute;
    top: 0;
    right: 0;
    width: 51px;
    height: 42px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translateZ(150px);
}

.insta-gallery-full__sound svg {
    width: 30px;
    height: 18px;
}

:root {
    --insta-gallery-slide-height: 87.742vh;
    --insta-gallery-slide-width: 48.281vh;
}

.insta-gallery-full__swiper {
    height: var(--insta-gallery-slide-height);
    width: var(--insta-gallery-slide-width);
    border-radius: 6px;
    overflow: visible !important;
}

.insta-gallery-full__volume-button {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 2px;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 100;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translateZ(150px);
    display: none;
}

.insta-gallery-full__volume-button svg {
    width: 25px;
    position: absolute;
    height: 15px;
    fill: white;
}

.swiper-slide-active .insta-gallery-full__sound {
    display: flex;
}

@media screen and (min-width: 512px) {

    .swiper-slide_left-step-1,
    .swiper-slide_left-step-2,
    .swiper-slide_right-step-1,
    .swiper-slide_right-step-2,
    .swiper-slide_not-visible {
        transition: 0.30s ease opacity, 0.30s ease transform, 0.30s ease transform-origin !important;
        cursor: pointer;
    }

    .insta-gallery-full__swiper .swiper-slide {
        transition: 0.30s ease opacity, 0.30s ease transform, 0.30s ease transform-origin !important;
    }

    .swiper-slide_not-visible {
        opacity: 0;
        transform: scale(0) !important;
    }

    .swiper-slide_left-step-1 {
        opacity: 0.44;
        transform: scale(0.6687) !important;
        transform-origin: 0 50%;
    }

    .swiper-slide_left-step-2 {
        opacity: 0.15;
        transform: scale(0.5294) translateX(calc(-1 * var(--insta-gallery-slide-width) * 0.6687)) !important;
        transform-origin: 0 50%;
    }

    .swiper-slide_right-step-1 {
        opacity: 0.44;
        transform: scale(0.6687) !important;
        transform-origin: 100% 50%;
    }

    .swiper-slide_right-step-2 {
        opacity: 0.15;
        transform: scale(0.5294) translateX(calc(var(--insta-gallery-slide-width) * 0.6687)) !important;
        transform-origin: 100% 50%;
    }
}

@media screen and (max-width: 1200px) {

    .insta-gallery-full__container {
        margin-top: 37px;
    }

    :root {
        --insta-gallery-slide-height: 79.636vh;
        --insta-gallery-slide-width: 43.818vh;
    }

    .insta-gallery-full__container {
        margin-top: 37px;
    }

    .insta-gallery-full__sound {
        width: 50px;
        height: 38px;
    }
}

@media screen and (max-width: 1023px) {

    :root {
        --insta-gallery-slide-height: 87.111vh;
        --insta-gallery-slide-width: 48vh;
    }

    .insta-gallery-full__container {
        margin-top: 19px;
    }

    .insta-gallery-full__sound {
        width: 47px;
        height: 36px;
    }

    .insta-gallery-full__sound svg {
        width: 30px;
        height: 18px;
    }
}

@media screen and (max-width: 512px) {

    .insta-gallery-full__volume-button {
        display: flex;
    }

    .insta-gallery-full {
    }

    .insta-gallery-full:before {
        display: block;
        content: "";
        width: 100%;
        height: 64px;
        position: absolute;
        z-index: 4;
        left: 0;
        top: 0;
        pointer-events: none;
    }

    .insta-gallery-full__close {
        width: 32px;
        height: 32px;
        right: 4px;
        top: 24px;
        background: #00000000;
    }

    .insta-gallery-full__container {
        width: 100%;
        margin-top: 0;
    }

    .insta-gallery-full__left-arrow {
    }

    .insta-gallery-full__right-arrow {
    }

    .insta-gallery-full__left-arrow, .insta-gallery-full__right-arrow {
        display: none;
    }

    .insta-gallery-full__slider {
    }

    .insta-gallery-full__navigation {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        margin-bottom: 0;
        padding: 10px 15px;
    }

    .insta-gallery-full__navigation-line {
    }

    .insta-gallery-full__navigation-line-progress {
    }

    .insta-gallery-full__swiper {
        width: 100vw;
        height: 100vh;
    }

    .insta-gallery-full__swiper .swiper-slide {
    }

    .insta-gallery-full__video {
    }

    .insta-gallery-full__close {
        top: 8px;
        right: 0;
        width: 45px;
        height: 45px;
    }

    .insta-gallery-full__close svg {
        width: 17px;
        height: 17px;
    }

    .insta-gallery-full__sound {
        width: 55px;
        height: 55px;
        top: 2px;
        left: 0;
        display: none;
    }

    .insta-gallery-full__sound svg {
        width: 25px;
        position: absolute;
        height: 15px;
        fill: white;
    }

    .insta-gallery-full__swiper .swiper-slide {
        border-radius: 0;
    }

    .insta-video {
        border-radius: 0;
    }

    .swiper-slide-active .insta-gallery-full__sound {
        display: none;
    }
}